
body {
    text-align: center; 
    height: 100%;
    font-family:Arial;
    background-color: rgb(195, 250, 243);
}

h1 {
  text-align: center;
  font-family: Arial; 
  color:#14396a;
}

.name {
  font-family: Arial;
  font-weight: bold;  
  color:#14396a;
}

.comment_box {
  font-family: Arial; 
  font-weight: bold; 
  color: #14396a;
  border-radius: 6px; 
}

.dropbtn {
  background-color: #63b8ee;
  color: #14396a;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  font-family: Arial; 
  border: none;
  margin-bottom: 25px; 
  border-radius: 6px; 
  border:1px solid #3866a3;
  box-shadow:inset 0px 1px 0px 0px #bee2f9;
  background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-weight: bold;
  font-family: Arial; 
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; 
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e95ca}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .thumb {
    border-radius: 30px; 
  }

  .myButton {
    box-shadow:inset 0px 1px 0px 0px #bee2f9;
    background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
    background-color:#63b8ee;
    border-radius:6px;
    border:1px solid #3866a3;
    display:inline-block;
    cursor:pointer;
    color:#14396a;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #7cacde;
    margin-top: 25px;
    margin-bottom: 25px; 
  }
  .myButton:hover {
    background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
    background-color:#468ccf;
  }
  .myButton:active {
    position:relative;
    top:1px;
  }
  
  .submit {
    box-shadow:inset 0px 1px 0px 0px #bee2f9;
    background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
    background-color:#63b8ee;
    border-radius:6px;
    border:1px solid #3866a3;
    display:inline-block;
    cursor:pointer;
    color:#14396a;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    padding:5px 18px;
    text-decoration:none;
    text-shadow:0px 1px 0px #7cacde;
    margin-top: 25px;
    margin-bottom: 25px; 
  }
  

  
  /* .round {
    border-radius: 50%;
  } */

  