
body {
    text-align: center; 
    height: 100%;
    font-family:Arial;
    background-color: rgb(195, 250, 243);
}

h1 {
  text-align: center;
  font-family: Arial; 
  color:#14396a;
}

img.rounded-corners {
  border-radius: 30px; 
}

/* #main {
  position: relative; 
}

.slide {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  opacity: 0;
  transition: opacity 400ms ease-out; 
}

.showing{
  opacity: 1;
} */



.name {
  font-family: Arial;
  font-weight: bold;  
  color:#14396a;
}

.comment_box {
  font-family: Arial; 
  font-weight: bold; 
  color: #14396a;
  border-radius: 6px; 
}





/*
  .thumb {
    border-radius: 30px; 
  } */

  * {box-sizing: border-box}
  body {font-family: Verdana, sans-serif; margin:0}
  .mySlides {display: none}
  img {vertical-align: middle;}
  
  /* Slideshow container */
  /* .slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
  } */
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .previous {
    float: left; 
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  
  /* The dots/bullets/indicators */
  /* .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  } */
  
  /* Fading animation */
  /* .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  } */
  
  /* On smaller screens, decrease text size */
  /* @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  } */


  /* .myButton {
    box-shadow:inset 0px 1px 0px 0px #bee2f9;
    background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
    background-color:#63b8ee;
    border-radius:6px;
    border:1px solid #3866a3;
    display:inline-block;
    cursor:pointer;
    color:#14396a;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #7cacde;
    margin-top: 25px;
    margin-bottom: 25px; 
  }
  .myButton:hover {
    background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
    background-color:#468ccf;
  }
  .myButton:active {
    position:relative;
    top:1px;
  } */
  
  .submit {
    box-shadow:inset 0px 1px 0px 0px #bee2f9;
    background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
    background-color:#63b8ee;
    border-radius:6px;
    border:1px solid #3866a3;
    display:inline-block;
    cursor:pointer;
    color:#14396a;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    padding:5px 18px;
    text-decoration:none;
    text-shadow:0px 1px 0px #7cacde;
    margin-top: 25px;
    margin-bottom: 25px; 
  }
  

  
  /* .round {
    border-radius: 50%;
  } */

  